.category-page {
  background: #192228;
  .header-section {
    opacity: 0;
    transition: all 1s;
    &.visible {
      opacity: 1;
    }
    h1 {
      font-size: 26px;
      line-height: 40px;
    }
  }
  .projects-section {
    height: 100%;
  }
  .projects {
    table {
      width: 100%;
      border-collapse: collapse;
    }
  }
  .project {
    background-size: cover;
    background-position: center center;
    position: relative;
    .overlay {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      transition: all .5s;
    }
    a {
      width: 100%;
      height: 100%;
      display: table;
    }
    .title {
      display: table-cell;
      vertical-align: middle;
      opacity: 0;
      width: 100%;
      margin: 0;
      transition: all .5s;
      position: relative;
    }
    @media(max-width: 800px) {
      .overlay {
        background: #111A20;
        opacity: 0.75;
      }
      .title {
        opacity: 1;
        font-size: 17px;
      }
    }
    &:hover {
      .overlay {
        background: #111A20;
        opacity: 0.75;
      }
      .title {
        opacity: 1;
      }
    }
  }
}

#website-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('website.jpg');
    .header-icon {
      background-image: image-url('website-appdesign.svg');
      width: 45px;
      height: 75px;
    }
  }
  .project {
    &.spotify-discovery-tool {
      background-image: image-url('projects/website/Spotify-For-Brands-Discovery-Tool.jpg')
    }
    &.eagle-point-hotel-partners {
      background-image: image-url('projects/website/Eagle-Point-Hotel-Partners.jpg')
    }
    &.pepsi-pulse-artist-spotlight {
      background-image: image-url('projects/website/PepsiPulse-ArtistSpotlight.jpg')
    }
    &.made-in-america-festival {
      background-image: image-url('projects/website/Budweiser-Made-In-America-Festival.jpg')
    }
    &.independent-lodging-congress {
      background-image: image-url('projects/website/Independent-Lodging-Congress.jpg')
    }
    &.spotify-thatsongwhen {
      background-image: image-url('projects/website/Spotify-thatsongwhen2.jpg')
    }
    &.paprika-restaurant-website {
      background-image: image-url('projects/website/Paprika.jpg')
    }
    &.michael-kors-wishlist {
      background-image: image-url('projects/website/MK-Wishlist-1.jpg')
    }
    &.yo-crawl {
      background-image: image-url('projects/website/YoCrawl.jpg')
    }
    &.emissary {
      background-image: image-url('projects/website/Emissary.jpg')
    }
    &.aki-development-website {
      background-image: image-url('projects/website/AKI-Development.jpg')
    }
    &.digital-asset-holdings-website {
      background-image: image-url('projects/website/Digital-Asset-Holdings.jpg')
    }
    &.pippio {
      background-image: image-url('projects/website/Pippio.jpg')
    }
  }
}

#architecture-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('architecture.jpg');
    .header-icon {
      background-image: image-url('architecture-interiordesign.svg');
      width: 71px;
      height: 53px;
    }
  }
  .project {
    &.talan-towers {
      background-image: image-url('projects/architecture/Talan-Towers.jpg')
    }
    &.tanjong-pagar-centre {
      background-image: image-url('projects/architecture/TP-180.jpg')
    }
    &.paprika-restaurant-architecture {
      background-image: image-url('projects/architecture/Paprika-Interior.jpg')
    }
    &.thakher-city {
      background-image: image-url('projects/architecture/Thakher-City.jpg')
    }
    &.cardboard-wall {
      background-image: image-url('projects/architecture/Cardboard-Wall.jpg')
    }
    &.urban-suture {
      background-image: image-url('projects/architecture/Urban-Suture.jpg')
    }
    &.turkcell-campus {
      background-image: image-url('projects/architecture/Turkcell-Campus-Masterplan.jpg')
    }
    &.26-12-4th-street {
      background-image: image-url('projects/architecture/26-12-4th-Street.jpg')
    }
    &.architectural-visualization {
      background-image: image-url('projects/architecture/Architectural-Visualization.jpg')
    }
    &.galataport-project {
      background-image: image-url('projects/architecture/Galataport-Project.jpg')
    }
    &.hybrid-farm-apartment {
      background-image: image-url('projects/architecture/Hybrid-Farm-Apartment.jpg')
    }
  }
}

#branding-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('branding.jpg');
    .header-icon {
      background-image: image-url('branding-graphicdesign.svg');
      width: 75px;
      height: 49px;
    }
  }
  .project {
    &.turkiss {
      background-image: image-url('projects/branding/Turkiss.jpg')
    }
    &.vitamin-chick {
      background-image: image-url('projects/branding/VitaminChick2.jpg')
    }
    &.nz {
      background-image: image-url('projects/branding/NZ.jpg')
    }
    &.paprika {
      background-image: image-url('projects/branding/Paprika.jpg')
    }
    &.times-square-billboard {
      background-image: image-url('projects/branding/TimesSquareBillboard2.jpg')
    }
    &.mission-control {
      background-image: image-url('projects/branding/MissionControl.jpg')
    }
    &.a-history-of-flying {
      background-image: image-url('projects/branding/A-History-Of-Flying.jpg')
    }
    &.aki-development-branding {
      background-image: image-url('projects/branding/AKI-Development.jpg')
    }
    &.digital-asset-holding-branding {
      background-image: image-url('projects/branding/Digital-Asset-Holdings.jpg')
    }
    &.zala-branding {
      background-image: image-url('projects/branding/ZALA.jpg')
    }
  }
}
