#website-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('website.jpg');
    .header-icon {
      background-image: image-url('website-appdesign.svg');
      width: 60px;
      height: 101px;
    }
  }
  .project {
    &.spotify-for-brands-discovery-tool {
      background-image: image-url('projects/website/Spotify-For-Brands-Discovery-Tool.jpg')
    }
    &.eagle-point-hotel-partners {
      background-image: image-url('projects/website/Eagle-Point-Hotel-Partners.jpg')
    }
    &.pepsi-pulse {
      background-image: image-url('projects/website/PepsiPulse-ArtistSpotlight.jpg')
    }
    &.made-in-america-festival {
      background-image: image-url('projects/website/Budweiser-Made-In-America-Festival.jpg')
    }
    &.independent-lodging-congress {
      background-image: image-url('projects/website/Independent-Lodging-Congress.jpg')
    }
    &.thatsongwhen {
      background-image: image-url('projects/website/Spotify-thatsongwhen2.jpg')
    }
    &.paprika {
      background-image: image-url('projects/website/Paprika.jpg')
    }
    &.michael-kors-wish-list-2014 {
      background-image: image-url('projects/website/MK-Wishlist-1.jpg')
    }
    &.yocrawl {
      background-image: image-url('projects/website/YoCrawl.jpg')
    }
    &.emissary {
      background-image: image-url('projects/website/Emissary.jpg')
    }
  }
}

#architecture-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('architecture.jpg');
    .header-icon {
      background-image: image-url('architecture-interiordesign.svg');
      width: 95px;
      height: 70px;
    }
  }
  .project {
    &.talan-towers {
      background-image: image-url('projects/architecture/Talan-Towers.jpg')
    }
    &.tp180 {
      background-image: image-url('projects/architecture/TP-180.jpg')
    }
    &.paprika {
      background-image: image-url('projects/architecture/Paprika-Interior.jpg')
    }
    &.thakher-city {
      background-image: image-url('projects/architecture/Thakher-City.jpg')
    }
    &.cardboard-facade {
      background-image: image-url('projects/architecture/Cardboard-Wall.jpg')
    }
    &.urban-suture {
      background-image: image-url('projects/architecture/Urban-Suture.jpg')
    }
    &.turkcell-campus-masterplan {
      background-image: image-url('projects/architecture/Turkcell-Campus-Masterplan.jpg')
    }
  }
}

#branding-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('branding.jpg');
    .header-icon {
      background-image: image-url('branding-graphicdesign.svg');
      width: 100px;
      height: 65px;
    }
  }
  .project {
    &.turkiss {
      background-image: image-url('projects/branding/Turkiss.jpg')
    }
    &.vitamin-chick {
      background-image: image-url('projects/branding/VitaminChick2.jpg')
    }
    &.nz {
      background-image: image-url('projects/branding/NZ.jpg')
    }
    &.paprika {
      background-image: image-url('projects/branding/Paprika-07.jpg')
    }
    &.times-square-billboard {
      background-image: image-url('projects/branding/TimesSquareBillboard2.jpg')
    }
    &.mission-control {
      background-image: image-url('projects/branding/MissionControl.jpg')
    }
  }
}
