.category-page {
  height: 100%;
  width: 100%;
  transition: all .75s;
  position: absolute;
  top: 0; bottom: 0;
  .category-content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .landing-page {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  .landing-wrap {
    display: table-cell;
    vertical-align: middle;
  }
  .header-icon {
    margin: auto;
    margin-bottom: 40px;
  }
  .nav-left, .nav-right {
    top: 50%;
    margin-top: -15px;
  }
  .nav-left .icon, .nav-right .icon {
    width: 9px;
    height: 30px;
    display: inline-block;
  }
  .nav-left {
    left: 10px;
    .icon {
      background-image: image-url('left-arrow-white.svg');
    }
    .text {
      margin-left: 10px;
    }
  }
  .nav-right {
    right: 10px;
    .icon {
      background-image: image-url('right-arrow-white.svg');
    }
    .text {
      margin-right: 10px;
      text-align: right;
    }
  }
  .nav-down {
    bottom: 20px;
    width: 100%;
    .text {
      margin-bottom: 5px;
    }
    .icon {
      width: 30px;
      height: 9px;
      background-image: image-url('down-arrow-white.svg');
      margin: auto;
    }
  }
  .category-page {
    position: absolute;
    &:first-child {
      left: -100%;
    }
    &:last-child {
      right: -100%;
    }
  }
  .content-left {
    transform: translate3d(-100%, 0, 0);
  }
  .content-left {
    transform: translate3d(100%, 0, 0);
  }
  .nav-left, .nav-right, .nav-down {
    position: absolute;
    .text {
      display: inline-block;
      color: #aaa;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 18px;
      transition: color .5s;
    }
    &:hover {
      cursor: pointer;
      .text {
        color: white;
      }
    }
  }
  .projects {
    height: 100%;
    table {
      width: 100%;
      border-collapse: collapse;
    }
    .project {
      width: 50%;
      background-size: cover;
      background-position: center center;
      position: relative;
      &:hover {
        .overlay {
          background: rgba(0,0,20,.7)
        }
        .title {
          opacity: 1;
        }
      }
      .overlay {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: rgba(0,0,20,0);
        transition: all .5s;
      }
      .title {
        opacity: 0;
        position: absolute;
        width: 100%;
        margin: 0;
        transition: all .5s;
      }
    }
  }
}

#website-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('website-long.jpg');
    .header-icon {
      background-image: image-url('website-appdesign.svg');
      width: 60px;
      height: 101px;
    }
  }
  .project {
    &.spotify-for-brands-discovery-tool {
      background-image: image-url('projects/website/Spotify-For-Brands-Discovery-Tool.jpg')
    }
    &.eagle-point-hotel-partners {
      background-image: image-url('projects/website/Eagle-Point-Hotel-Partners.jpg')
    }
    &.pepsi-pulse {
      background-image: image-url('projects/website/PepsiPulse-ArtistSpotlight.jpg')
    }
    &.made-in-america-festival {
      background-image: image-url('projects/website/Budweiser-Made-In-America-Festival.jpg')
    }
    &.independent-lodging-congress {
      background-image: image-url('projects/website/Independent-Lodging-Congress.jpg')
    }
    &.thatsongwhen {
      background-image: image-url('projects/website/Spotify-thatsongwhen2.jpg')
    }
    &.paprika {
      background-image: image-url('projects/website/Paprika.jpg')
    }
    &.michael-kors-wish-list-2014 {
      background-image: image-url('projects/website/MK-Wishlist-1.jpg')
    }
    &.yocrawl {
      background-image: image-url('projects/website/YoCrawl.jpg')
    }
    &.emissary {
      background-image: image-url('projects/website/Emissary.jpg')
    }
  }
}

#architecture-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('architecture.jpg');
    .header-icon {
      background-image: image-url('architecture-interiordesign.svg');
      width: 95px;
      height: 70px;
    }
  }
  .project {
    &.talan-towers {
      background-image: image-url('projects/architecture/Talan-Towers.jpg')
    }
    &.tp180 {
      background-image: image-url('projects/architecture/TP-180.jpg')
    }
    &.paprika {
      background-image: image-url('projects/architecture/Paprika-Interior.jpg')
    }
    &.thakher-city {
      background-image: image-url('projects/architecture/Thakher-City.jpg')
    }
    &.cardboard-facade {
      background-image: image-url('projects/architecture/Cardboard-Wall.jpg')
    }
    &.urban-suture {
      background-image: image-url('projects/architecture/Urban-Suture.jpg')
    }
    &.turkcell-campus-masterplan {
      background-image: image-url('projects/architecture/Turkcell-Campus-Masterplan.jpg')
    }
  }
}

#branding-category {
  >.category-content>.landing-page {
    background-image:
      linear-gradient(
        rgba(0, 0, 20, 0.5),
        rgba(0, 0, 20, 0.5)
      ),
      image-url('branding.jpg');
    .header-icon {
      background-image: image-url('branding-graphicdesign.svg');
      width: 100px;
      height: 65px;
    }
  }
}
