#services-page {
  color: black;
  .image-1 {
    background-image: image-url('services-hero.jpg');
    background-size: cover;
    height: 400px;
  }
  .text {
    padding: 50px;
    .about-us {
      text-transform: uppercase;
      font-size: 12px;
      margin: 20px;
    }
    h1 {
      font-size: 36px;
      font-weight: 100;
      margin: 20px;
      text-transform: none;
    }
    @media(max-width: 800px) {
      h1 {
        font-size: 18px;
      }
    }
    p {
      margin: 20px;
    }
  }
  .image-2 {
    background-color: #7980FF;
    background-image: image-url('services-process.png');
    background-position: center center;
    background-size: cover;
    height: 400px;
  }
  .category-links {
    background: #F8F8F8;
    padding: 50px;
    table {
      margin: auto;
    }
    p {
      text-transform: uppercase;
      font-size: 12px;
      margin: 20px;
    }
    .box {
      padding: 30px 15px;
      margin: 10px;
      background: white;
    }
    .icon {
      width: 50px;
      height: 50px;
      margin: auto;
    }
    .digital {
      .icon {
        background-image: image-url('digital-nav.svg');
      }
    }
    .architecture {
      .icon {
        background-image: image-url('architecture-nav.svg');
      }
    }
    .graphic {
      .icon {
        background-image: image-url('graphic-nav.svg');
      }
    }
    ul {
      font-size: 10px;
      text-transform: uppercase;
    }
    li {
      margin: 5px 0;
    }
    a {
      background: #7980FF;
      text-transform: uppercase;
      padding: 12px 12px;
      color: white;
      display: block;
      margin: 0 10px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  @media(min-width: 800px) {
    table {
      width: 800px;
    }
    td {
      width: 33%;
    }
    ul {
      height: 90px;
    }
  }
  @media(max-width: 800px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    td {
      margin-bottom: 50px;
    }
    .links {
      a {
        margin: 0 15%;
      }
    }
  }
}
