<div class='map'></div>
<div class='address'>
  <h3>New York</h3>
  <p>379 West Broadway Unit 340<br/>
  New York, NY 10012</p>
</div>
<div class='contact'>
  <h1>Get in touch with us!</h1>
  <table>
    <tr>
      <td>
        <h2>Work with us</h2>
        <p>Client engagement</p>
        <a href='mailto:studio@westonbaker.com'>studio@westonbaker.com</a>
      </td>
      <td>
        <h2>Careers</h2>
        <p>Recruiting</p>
        <a href='mailto:work@westonbaker.com'>work@westonbaker.com</a>
      </td>
      <td>
        <h2>Media inquiries</h2>
        <p>Communications</p>
        <a href='mailto:press@westonbaker.com'>press@westonbaker.com</a>
      </td>
    </tr>
  </table>
</div>
<div class='footer-container'></div>
