<div class='image'></div>
<h1>Weston Baker Design LLC</h1>
<p>379 West Broadway Floor 2<br/>
New York, NY 10012</p>
<p class='small'>206-669-8601<br/>
<a href="mailto:studio@westonbaker.com">studio@westonbaker.com</a></p>
<img src= <%= image_url('wbd-map-01.png') %> width='100%'/>
<footer>
  <div class='logo'></div>
  <div class='legal'>
    All contents © Weston Baker Design LLC 2015
  </div>
</footer>
